<!DOCTYPE html>
<html>
 
<head>
    <title>M.E.A.N. Employee App with Angular 2.0</title>
    <% include layouts/main %>
</head>
 
<body>
    <br><br><br>
    <div class="container" ng-app="">
            <h2 class="text-center">Wel-come to Employee Management Application</h2>

            <!--<p> simple Angular : <input type="text" ng-model="name"> {{name}}</p>-->
    </div>
  
</body>
 
</html>