<div class="container"> 
    <h2>Find Recipe by Name </h2> 
    <form action="/Recipe/findRecipeByName" method="POST" enctype="multipart/form-data"  style="max-width:30%; padding:19px 29px 29px; background-color:#ececec; border:1px solid #9EC0EB;" >

        <input type="text" placeholder="Find Recipe by Name" name="r_name" style="margin-bottom:10px;"><br>
        
        <input type="submit" value="Find">
    </form>   
 </div>