
<div class="container"  ng-app=""  style="margin-top:4%; max-width:30%; padding:19px 29px 29px; background-color:#ececec; border:1px solid #9EC0EB; border-radius:15px;">

<center>
<form action="/employee/create" method="post" id="signupForm" class="form-signin1" enctype="multipart/form-data">
	<h2 class="form-signin-heading">Create an Employee account</h2>
	
	<input type="text" class="form-control" placeholder="Employee Name" name="name" style="margin-bottom:10px;" ></input>
	
	<input type="text" class="form-control" placeholder="Employee Address" name="address" style="margin-bottom:10px;" ></input>

	<input type="text" class="form-control" placeholder="Employee E-Mail address" name="email" style="margin-bottom:10px;"></input>

	<input type="date" class="form-control"   placeholder="Date of Birth" name="dob" style="margin-bottom:10px;"></input>

	<input type="text" class="form-control" placeholder="Employee Phone"  name="phone" style="margin-bottom:10px;"></input>
	
	<input type="file" name="userPhoto" id ="userPhoto" style="margin-bottom:10px;"/>
	
 
	<input type="submit" class="btn btn-lg btn-primary btn-block" value="Create Employee"></input>
</form>



